h1 {
  color: rgb(78, 158, 158);
}
body {
  background-color: #f9f7fe;
}
.current-weather {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
h2,
p {
  color: grey;
}
.row {
  font-size: 16px;
  color: green;
}
